<div class="flex md:flex-row gap-3 mb-6" style="display: flex; padding: 20px; justify-content: space-between;">

    <diV>
        <!-- SEARCH INPUT -->
  <input
    [(ngModel)]="text"
    (keyup.enter)="onSearch()"
    placeholder="Buscar items..."
    class="
      flex-1
      px-4 py-2
      bg-[#dadada]
      border border-[#1e2530]
      text-[#000000]
      font-['Share_Tech_Mono']
      tracking-[1px]
      outline-none
      focus:border-[#00e5a0]
      transition-all
      min-w-[500px]
      max-w-[600px]
    "
    style="padding: 10px; border-radius: 10px;"
  />
  <select
      [(ngModel)]="searchField"
      (change)="onFieldChange()"
      class="
        px-3 py-2
        bg-[#111418]
        border border-[#1e2530]
        text-[#c8d4e0]
        font-['Share_Tech_Mono']
        tracking-[1px]
        rounded-lg
        outline-none
        focus:border-[#00e5a0]
      "
      style="width: 130px; padding: 10px; margin-left: 20px;"
    >
      <option value="name">Nombre</option>
      <option value="reference">Referencia</option>
    </select>
    </diV>
  

  <div>
    <!-- SEARCH BUTTON -->
  <button
    (click)="onSearch()"
    class="
      px-5 py-2
      bg-[#111418]
      border border-[#1e2530]
      text-[#4a5568]
      font-['Share_Tech_Mono']
      tracking-[2px]
      uppercase
      transition-all
      hover:text-[#00e5a0]
      hover:border-[#00e5a0]
    "
    style="width: 100px; padding: 10px; margin-right: 20px;"
  >
    Buscar
  </button>

  <!-- CLEAR -->
  <button
    (click)="clear()"
    class="
      px-5 py-2
      bg-transparent
      border border-[#1e2530]
      text-[#4a5568]
      font-['Share_Tech_Mono']
      tracking-[2px]
      uppercase
      transition-all
      hover:text-[#ff3b3b]
      hover:border-[#ff3b3b]
    "
    style="width: 100px; padding: 10px;"
  >
    Limpiar
  </button>
  </div>
</div>