<div class="flex md:flex-row gap-3 mb-6" style="display: flex; padding: 20px; justify-content: space-between;">

    <diV>
        <!-- SEARCH INPUT -->
  <input
    [(ngModel)]="text"
    (keyup.enter)="onSearch()"
    placeholder="Buscar items..."
    class="
      flex-1
      px-4 py-2
      bg-[#dadada]
      border border-[#1e2530]
      text-[#000000]
      font-['Share_Tech_Mono']
      tracking-[1px]
      outline-none
      focus:border-[#00e5a0]
      transition-all
      min-w-[500px]
      max-w-[600px]
    "
    style="padding: 10px; border-radius: 10px;"
  />
  <select
      [(ngModel)]="searchField"
      (change)="onFieldChange()"
      class="
        px-3 py-2
        bg-[#111418]
        border border-[#1e2530]
        text-[#c8d4e0]
        font-['Share_Tech_Mono']
        tracking-[1px]
        rounded-lg
        outline-none
        focus:border-[#00e5a0]
      "
      style="width: 130px; padding: 10px; margin-left: 20px;"
    >
      <option value="name">Nombre</option>
      <option value="reference">Referencia</option>
    </select>
    </diV>
  

  <div>
    <!-- SEARCH BUTTON -->
     <app-ui-button
      label="SEARCH"
      variant="primary"
      (pressed)="onSearch()"
    ></app-ui-button>
    <app-ui-button
      label="CLEAR"
      variant="danger"
      (pressed)="clear()"
    ></app-ui-button>
  </div>
</div>