<div class="flex justify-between items-center min-h-[100px]">
<header class="mb-4 max-w-2" style="margin-left: 20px;">

  <div
    class="
      font-['Share_Tech_Mono']
      text-[10px]
      tracking-[3px]
      text-[#00e5a0]
      mb-1
      uppercase
    "
     style="margin-bottom: 10px;"
  >
    {{ title }}
  </div>

  <h1 class="text-[26px] font-bold text-[#e8f0f7] font-barlow font-['Barlow']">
    {{ subtitle }}
  </h1>
  <div class="text-[#c8d4e0] text-[13px] tracking-[2px] mt-2">
    {{ text }}
  </div>

  

</header>
<div class="flex items-center gap-3">
      <ng-content />
  </div>
</div>

<div
  class="w-full h-px mb-6"
  style="background: linear-gradient(90deg, #00e5a020, #00e5a0, #00e5a020)"
></div>